*{
  margin:0;
  padding:0;
}

/*  Navigation Menu buttons */
.navbar {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 60px;
  cursor: pointer;
}

.background {
    background: teal;
    background-blend-mode: darken;
    background-size: cover;
}

.navList {
    width: 70%;
    flex: 1;
    display: flex;
    align-items: stretch;
    list-style: none;
}

.navList li{
  flex:1;
}

.navList button {
  background:teal;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navList button:hover {
  background-color: orange;
}


/* Titles Style */
h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: black;
  margin-top: 30px;
}


/* Total albums listened to */
#totalAlbums {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px 0px;
}





